/* This file is for your main application css. */

$body-bg: inherit;
$body-color: white;

@import "fonts.scss";
@import "~bootstrap/scss/bootstrap";
@import "alert.scss";
@import "game.scss";
@import "players.scss";
@import "user.scss";
@import "header.scss";
@import "leaderboard.scss";

* {
    box-sizing: border-box;
}

html {
    
    min-height: 100%;
    height: 100%;
    height: auto;
    background-image: linear-gradient(darkblue, rgb(205,73,130));
    background-size: cover;
}

body {
    font-family: "ITC Korinna Std";
    height: inherit;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

a {
    color: yellow;
}

.question-details, .leaderboard, .player {
    text-align: center;
    font-family: "Swiss 911";
    letter-spacing: 2px;

    th {
        font-weight: 200;
        font-size: x-large;
    }
    .value, .score {
            font-weight: 400;
            color: goldenrod;
        }

    .category {
        text-transform: uppercase;
        font-weight: 200;
        color: lightblue;
    }

    .name {
        font-weight: 200;
        color: lightblue;
        font-family: "ITC Korinna Std";

    }

    .game {
        font-weight: 200;
        font-family: "ITC Korinna Std";
        color: white;
    }
}

.submission {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        letter-spacing: 1px;
        font-family: 'Swiss 911';
        font-size: larger;
    }
}

.joining, .game-over {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.state-text {
    margin-bottom: 10px;
}