/* This file is for your main application css. */

$body-bg: darken(blue, 10%);
$body-color: white;

@import "fonts.scss";
@import "~bootstrap/scss/bootstrap";
@import "alert.scss";
@import "board.scss";
@import "players.scss";

body {
  font-family: "ITC Korinna Std";
}

a {
    color: yellow;
}

.leaderboard-container {
    font-size: larger;
    width: 80%;
    margin-left: 15px;
}

@media only screen and (min-width: 1000px) {
    .leaderboard-container {
        width: 50%;
    }
}

.question-details, .leaderboard, .player {
    text-align: center;
    font-family: "Swiss 911";
    letter-spacing: 2px;

    th {
        font-weight: 200;
        font-size: x-large;
    }
    .value, .score {
            font-weight: 400;
            color: goldenrod;
        }

    .category {
        text-transform: uppercase;
        font-weight: 200;
        color: lightblue;
    }

    .name {
        font-weight: 200;
        color: lightblue;
        font-family: "ITC Korinna Std";

    }

    .game {
        font-weight: 200;
        font-family: "ITC Korinna Std";
        color: white;
    }
}

.submission {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        letter-spacing: 1px;
        font-family: 'Swiss 911';
        font-size: larger;
    }
}

.game-over {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.state-text {
    height: 50px;
    margin-bottom: 10px;
}