.game {
  .board {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    letter-spacing: 1px;

    .category {
      width: 20%;
    }

    .card {
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: .25rem .5rem .25rem .5rem;
      min-height: 5rem;
      margin: 4px 2px;
      background-color: transparent;
      border: 5px solid black;
      font-weight: 400;
      color: goldenrod;
      font-size: xx-large;
      font-family: "Swiss 911";
    
      &.disabled {
        cursor: default;
      }
    }

    .title-card {
      cursor: default;
      color: lightblue;
      font-size: 1.25rem;
      font-weight: 200;
      min-height: 10rem;
    }
  }

  .question {
    text-transform: uppercase;
    text-align: center;
    margin-top: 200px;
  }
}