@font-face {font-family: "ITC Korinna Std";
    src: url("//db.onlinewebfonts.com/t/7eabf1a72c107aff532500b38879c5da.eot");
    src: url("//db.onlinewebfonts.com/t/7eabf1a72c107aff532500b38879c5da.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/7eabf1a72c107aff532500b38879c5da.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/7eabf1a72c107aff532500b38879c5da.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/7eabf1a72c107aff532500b38879c5da.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/7eabf1a72c107aff532500b38879c5da.svg#ITC Korinna Std") format("svg");
}
@font-face {font-family: "Swiss 911";
    src: url("//db.onlinewebfonts.com/t/6a891befed317fa85014538362250762.eot");
    src: url("//db.onlinewebfonts.com/t/6a891befed317fa85014538362250762.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/6a891befed317fa85014538362250762.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/6a891befed317fa85014538362250762.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/6a891befed317fa85014538362250762.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/6a891befed317fa85014538362250762.svg#Swiss 911") format("svg");
}