.header {
  padding: 1rem;
}

span.logo {
    display: inline-block;
    height: 30px;
    width: 100px;
    background-size: 100% 100%;
    background-image: url('http://drive.google.com/uc?export=view&id=1929UHsuJQMEkbMR8bfeKrb84x-PQGwHE');
}

.session {
  display: inline-block;
  float: right;
}