.header {
  padding: 1rem;
}

span.logo {
  display: inline-block;
  height: 60px;
  width: 150px;
  background-size: 100% 100%;
  background-image: url('/images/jeopardy.png');
}

.session {
  display: inline-block;
  float: right;
}