.players {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  font-size: x-large;
}

.player {
  border: 2px solid white;
  border-radius: 4px;
  padding: 1rem;
  margin: .5rem;
  text-align: center;
  min-width: 20%;

  p {
    margin-bottom: 0;
  }
}